HEAD request on a static file should return Content-Length

# RFC 7230, Section 4.3.2

> The HEAD method is identical to GET except that the server MUST NOT send a message body in the response (i.e., the response terminates at the end of the header section).

> The metadata contained in the HTTP headers included in the response to a HEAD request **SHOULD be identical to the information sent in response to a GET request.**


```bash
 curl -I 'http://192.168.0.214:9091/original.mkv'
HTTP/1.1 200 OK
Accept-Ranges: bytes
content-type: video/x-matroska
Content-Length: 0
Cache-Control: public, max-age=604800
Last-Modified: Tue, 29 Jul 2025 01:15:23 GMT
ETag: W/"6984d317-688820ab.0"
Date: Wed, 30 Jul 2025 16:26:56 GMT
```

```bash
curl -s -D - -o /dev/null http://192.168.0.214:9091/original.mkv
HTTP/1.1 200 OK
Accept-Ranges: bytes
Content-Type: video/x-matroska
Content-Length: 229630
Cache-Control: public, max-age=604800
Last-Modified: Wed, 30 Jul 2025 16:28:04 GMT
ETag: W/"380fe-688a4814.0"
Date: Wed, 30 Jul 2025 16:30:21 GMT
```